extends ../layouts/app

block head
  -
    var title = "What To Do | Simple checklist for you needs";
    var descr = "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugit in nemo?";

block body
  #root
    .container
